html {
    height: 100%;
    width: 100%;
  }

body {
  background-color: rgb(53, 49, 69);
  color: rgb(243, 217, 123);
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #555555;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: cornsilk;
  padding: 8px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: rgb(197, 118, 89); 
  color: cornsilk;
}

header {
  background-color: #555555;
  padding: 5px;

}

footer {
  
  color: cornsilk;
  background-color: #555555;
  padding: 5px;
  width: 100%;
  box-sizing: border-box
}

.imagen1{
  width: auto;
  height: 50px;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
}

.logoContainer h1{
  margin: 0;
}

.contColumna {
  display: flex;
  flex: 1;
  gap: 20px;
  padding: 20px;
}

.columna {
  flex: 1;
}

.imagen2{
  width: auto;
  height: 150px;
  padding-left: 100px;
}
.imagen3{
  width: auto;
  height: 150px;
  object-fit: cover;
  object-position: 5px 10px;
  border-radius: 30px 0 30px 0;
}

